# DAY 2 ASSIGNMENT

## LISTS

In [2]:
lst = ["Potato", "Tomato", "Onions", "Brinjal"]

In [3]:
lst.pop()

'Brinjal'

In [4]:
lst

['Potato', 'Tomato', 'Onions']

In [5]:
lst.append("Carrots")

In [7]:
lst.append("Onions")

In [8]:
lst.count("Onions")

2

In [10]:
lst.remove("Onions")

In [11]:
lst

['Potato', 'Tomato', 'Carrots']

In [14]:
lst.sort()

In [13]:
lst

['Carrots', 'Potato', 'Tomato']

## DICTIONARY

In [17]:
dicti = {"Dhoni" : "7", "Raina" : "3", "Virat" : "18", "Rohit" : "44"}

In [18]:
dicti

{'Dhoni': '7', 'Raina': '3', 'Virat': '18', 'Rohit': '44'}

In [21]:
dicti.pop("Rohit")

'44'

In [22]:
dicti

{'Dhoni': '7', 'Raina': '3', 'Virat': '18'}

In [23]:
dicti.update({"Rohit" : "45"})

In [24]:
dicti

{'Dhoni': '7', 'Raina': '3', 'Virat': '18', 'Rohit': '45'}

In [29]:
dicti.values()

dict_values(['7', '3', '18', '45'])

In [30]:
dicti.setdefault("Dhoni")

'7'

In [31]:
dicti.items()

dict_items([('Dhoni', '7'), ('Raina', '3'), ('Virat', '18'), ('Rohit', '45')])

## SETS

In [32]:
st = {"1","2","3","4","5","6","7","8","9","10"}
st1 = {"3","7","1"}
st2 = {"5","8","11","2","9"}

In [34]:
st1.issubset(st)

True

In [35]:
st.issuperset(st2)

False

In [41]:
st1.intersection(st2)

set()

In [42]:
st1.intersection(st)

{'1', '3', '7'}

In [43]:
st1.difference(st)

set()

In [44]:
st2.difference(st)

{'11'}

In [49]:
st.discard("10")

In [50]:
st

{'1', '2', '3', '4', '5', '6', '7', '8', '9'}

## TUPLES

In [53]:
tup = (5, (5,10,15), 20)

In [54]:
tup.count(5)

1

In [56]:
tup.index(20)

2

In [57]:
tup[1]

(5, 10, 15)

In [58]:
tup[1][2]

15

## STRINGS

In [59]:
string = "Hey You!"

In [60]:
string.casefold()

'hey you!'

In [61]:
string.capitalize()

'Hey you!'

In [67]:
string.encode()

b'Hey You!'

In [68]:
string.isalpha()

False

In [69]:
string.isprintable()

True